---
---

@import "{{ site.theme }}";

blockquote {
  font:16px/24px normal helvetica, sans-serif;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:30px;
  padding-left:15px;
  border-left:3px solid #ccc;
  letter-spacing:1px;
  font-style:normal;
} 
